{{- define "h1" -}}
<form class="form search-page-form" action="{{ absLangURL "search/" }}" method="GET">
  <input id="search-page-input" name="q" class="form-control" type="search" placeholder="{{ .Title }}" required minlength="1">
</form>
{{- end -}}

{{- define "main" -}}

{{ with .Content }}<section>{{ . }}</section>{{ end }}
<section id="search-results">
</section>
{{ end }}

{{ define "scripts" }}
<!-- TODO: Merge all scripts into one for faster page load -->
{{ $sources := slice "js/vendor-modified/elasticlunr.js" }}
{{ if eq site.LanguageCode "ru" }}
{{ $sources = $sources | append  "js/vendor/lunr.stemmer.support.js" "js/vendor/lunr.multi.js" "js/vendor/lunr.ru.js" }}
{{ else if eq site.LanguageCode "he" }}
{{ $sources = $sources | append  "js/vendor/lunr.stemmer.support.js" "js/vendor/lunr.multi.js" "js/vendor-modified/lunr.he.js" }}
{{ end }}
{{- partial "site-scripts" (dict "js" $sources "context" . "outfile" "js/search.js") }}

<script>
  // Extract the query before window is loaded.
  var encodedQuery = window.location.search.substring(1);
  if (encodedQuery.length !== 0) {
    var query = decodeURIComponent(encodedQuery);
    query = query.replace('q=', '');
    query = query.replace(/\+/g, ' ');
    document.getElementById('search-input').value = query;
    document.getElementById('search-page-input').value = query;

    window.onload = function () {
      // TODO: Flexible multilanguage support.
      // TODO: Share this code with search.html to avoid copy-paste.
      var language = '{{ site.LanguageCode }}';
      if (language === 'ru')
        elasticlunr.multiLanguage('en', 'ru');
      else if (language === 'he')
        elasticlunr.multiLanguage('en', 'he');

      var index = loadSearchIndex();
      var r = index.search(query, {
        fields: {
          title: { boost: 3, bool: "AND" },
          tags: { boost: 2 },
          content: { boost: 1 }
        },
        //bool: "AND",
        //expand: true
      });

      if (r.length == 0) {
        var html = '<p>{{ i18n "SearchQueryNotFound" }}</p>'.format(query);
      } else {

        function resultToHTML(doc, tokens) {
          // Escape tokens to become a part of a valid regex.
          tokens = tokens.map(q => q.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&'));
          var regexes = tokens.map(q => new RegExp('(' + q + '\\p{L}*)', 'giu'));
          // Highlight matched tokens.
          function hl(str, regexes) {
            regexes.forEach(re => str = str.replace(re, '<strong>$1</strong>'));
            return str;
          }
          return '<li><h6>{1}</h6><p>{2} <a href="{0}">#</a></p></li>'
            .format(doc.uri, hl(doc.title, regexes), hl(doc.content, regexes));
        }

        var html = '<p>{{ i18n "SearchFoundXResults" }}</p><ol>'.format(r.results.length);
        for (var i = 0; i < r.results.length; i++) {
          html += resultToHTML(r.results[i].doc, r.tokens);
        }
        html += '</ol>';
      }
      document.getElementById('search-results').innerHTML += html;
    }
  }
</script>
<!-- TODO: Use more memory-efficient approach to unload unnecessary script from the memory -->
{{ $files := readDir (printf "static/%s/" site.LanguageCode) }}
{{ range $files }}
{{ if and (hasPrefix .Name "search-") (eq ".js" (path.Ext .Name)) }}
<script src="{{ .Name | relURL }}"></script>
{{ end }}
{{ end }}

{{- end -}}
