// TODO: Get rid of bootstrap and set default globals here.

// TODO: Support dark theme
$text-color: black;
$text-color-dark: white;
$main-bg-color: white;
$main-bg-color-dark: black;
$secondary-bg-color: #dedede;
$secondary-bg-color-dark: #dedede;
$lg: 991px;
$sm: 575px;
$margin-between-articles: 0.5rem;

html[lang="he"] {
  direction: rtl;
}

body {
  color: $text-color;
  background-color: $main-bg-color;
  line-height: 1.4;
  // @media screen and (prefers-color-scheme: dark) {
  //   color: $text-color-dark;
  //   background-color: $main-bg-color-dark;
  // }
}

h1 {
  text-align: center;
  border-bottom: 1px solid $secondary-bg-color;
  // @media screen and (prefers-color-scheme: dark) {
  //   border-bottom-color: $secondary-bg-color-dark;
  // }
  padding-bottom: 1rem;
}

p,
.summary ul li {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

ul,
ol {
  padding-inline-start: 1.5rem;
}

ul ul,
ol ul {
  list-style-type: disc;
  padding-left: 1rem;
}

blockquote {
  float: right;
  footer {
    text-align: right;
  }
  max-width: 50%;
}

// Marks "required" form labels
#contactForm label.required:after {
  content: " *";
}

section.summary {
  padding-top: 1rem;
  border-top: 1px solid $secondary-bg-color;
  // @media screen and (prefers-color-scheme: dark) {
  //   border-top-color: $secondary-bg-color-dark;
  // }
}

.article-ol-section {
  li {
    margin-bottom: $margin-between-articles;
  }
  > h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

figure img {
  width: 100%;
}

figcaption p {
  text-align: center;
  font-size: x-small;
}

ul.toc {
  margin-bottom: 0.3rem;
}
ol.toc {
  // Clearfix
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  list-style-position: inside;
  padding-inline-start: 0;
  @media screen and (max-width: $lg) {
    li {
      float: left;
      margin-left: 1rem;
    }
  }
}

.article-previews p {
  margin-bottom: 0;
}

.article-navbar {
  border-bottom: 1px solid $secondary-bg-color;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer {
  font-size: small;
  border-top: 1px solid $secondary-bg-color;
  // @media screen and (prefers-color-scheme: dark) {
  //   border-top-color: $secondary-bg-color-dark;
  // }
  margin-top: 1rem;
  p {
    font-size: small;
    text-align: center;
    margin-bottom: 0;
  }
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.editLink {
  color: lightgray;
}

.article {
  h6 {
    font-weight: normal;
    margin-bottom: 0.1rem;
  }
  & > p {
    display: inline;
  }
  margin-bottom: $margin-between-articles;
}

.search-page-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#search-results strong {
  background: yellow;
}

.prevnext {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $secondary-bg-color;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
